language: scala
sudo: true
services:
  - docker

before_install:
  # make comparing to origin/master work and fetch full history for correct current and previous version detection
  - git remote set-branches --add origin master && git fetch --unshallow
  # using jabba for custom jdk management
  - curl -sL https://raw.githubusercontent.com/shyiko/jabba/0.11.2/install.sh | bash && . ~/.jabba/jabba.sh

# default script for jobs, that do not have any specified
script:
  - jabba install ${JDK:=adopt@~1.8-0}
  - jabba use ${JDK:=adopt@~1.8-0}
  - java -version
  - ${PRE_CMD:=return 0} # do nothing if not set
  - sbt -jvm-opts .jvmopts-travis "$CMD"

jobs:
  include:
    - stage: check
      script: sbt Test/headerCheck || { echo "[error] Missing license headers found. Please run 'Test/headerCreate' and commit the updated code."; false; }
      name: "Copyright header check"
    - stage: check
      env: CMD=";scalafmtCheckAll;scalafmtSbtCheck"
      name: "Code style check (fixed with `sbt scalafmtAll;scalafmtSbt`)"
    - env: CMD="+Test/compile"
      name: "Compile all code with Scala 2.12 and 2.13"
    - env: CMD="docs/paradox"
      name: "Create site with Paradox. Run locally with: `sbt docs/previewSite`"
    - env: CMD="core/mimaReportBinaryIssues"
      name: "Check binary compatibility. Run locally with: sbt core/mimaReportBinaryIssues"

    - stage: test
      env:
        - PRE_CMD="./scripts/launch-all.sh"
        - CMD="++2.12.10 test"
      name: "Run tests with Scala 2.12 and AdoptOpenJDK 8"
    - env:
        - PRE_CMD="./scripts/launch-all.sh"
        - CMD="++2.13.1 test"
      name: "Run tests with Scala 2.13 and AdoptOpenJDK 8"
    - env:
        - JDK="adopt@~1.11-0"
        - _JAVA_OPTIONS="-XX:+UnlockExperimentalVMOptions -XX:+UseJVMCICompiler"
        - PRE_CMD="./scripts/launch-all.sh"
        - CMD="++2.12.10 test"
      name: "Run tests with Scala 2.12 and AdoptOpenJDK 11"
    - env:
        - JDK="adopt@~1.11-0"
        - _JAVA_OPTIONS="-XX:+UnlockExperimentalVMOptions -XX:+UseJVMCICompiler"
        - PRE_CMD="./scripts/launch-all.sh"
        - CMD="++2.13.1 test"
      name: "Run tests with Scala 2.13 and AdoptOpenJDK 11"

    - stage: whitesource
      script: git branch -f "$TRAVIS_BRANCH" && git checkout "$TRAVIS_BRANCH" && sbt whitesourceCheckPolicies whitesourceUpdate
      name: "Check licenses via WhiteSource"

    - stage: publish
      env: CMD="+publish"
      name: "Publish artifacts to Bintray"

    - script: $HOME/.travis/travis-to-gustav.sh
      name: "Publish API and reference documentation"


stages:
  # runs on master commits and PRs
  - name: check
    if: NOT tag =~ ^v

  # runs on master commits and PRs
  - name: test
    if: NOT tag =~ ^v

  # runs on main repo master commits and version-tagged commits
  - name: whitesource
    if: repo = akka/akka-persistence-jdbc AND ( ( branch = master AND type = push ) OR tag =~ ^v )

  # runs on main repo master commits and version-tagged commits
  - name: publish
    if: repo = akka/akka-persistence-jdbc AND ( ( branch = master AND type = push ) OR tag =~ ^v )

before_cache:
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
  - find $HOME/.sbt -name "*.lock" -delete

cache:
  directories:
   - $HOME/.m2
   - $HOME/.ivy2/cache
   - $HOME/.sbt/boot
   - $HOME/.sbt/launchers
   - $HOME/.cache/coursier
   - $HOME/.jabba/jdk

env:
  global:
    # API Key from https://saas.whitesourcesoftware.com/Wss/WSS.html#!adminOrganization_integration
    # encrypt with: travis encrypt --pro WHITESOURCE_PASSWORD=...
    - secure: "O3pD+CI5Twbdu4qXwW0MAX9mAYTYMGmZWvUJe4yNO5n/O90SGsb8fVPWjtw6iBX3FZFyGary0VGvQFJtdYRO8xj8NqYG1teJWsMYzqobQ5CEgqKdcPoRfPTmS0m2RR5ThL8KagGMfWAuy+7+OCbbocuPxpDhGbQ53UjcmRFrQicsy/7YEM2woafh7s/uejAgEJL7v2HKeR82ZVUGcDXAmAF2Djyn9zmMddPRvkftCdcquCqbQocj162WOjKG/wDm1u+Amd7ZzIoop23Oxmc4p1HSNex7OOFwTsrA95K8H3mNEzO2NQ6fr458ghfjXAEqi3Sa47ZgyqmcQ7f+XSfk9v/vzehsZxtrm81GpYmYq3hg952Fh6eP2sQEC+LOaBcYOETHQoCxYN/vYX4Mqy9QCEbr6WjuIagjQzcC8ZjR6q0yCYPnEF8NDyPghp8+0UaLUv/Qd/9k/+6AX8OFIO+fVW5jawM4M2/NF96gH8GgSue7jocf4EoBCx+BNVY8ulpq/VWtCBifYVpXSPPMNJXr3pEoeRKEVFD3h5nLFNw6PKXL9hITRkz9G4LoWXSMX0NdJ6dDr3IGeNrrr1ZDNa0CCKRlCIT5bMh5dWE7YjAVwD8FvX9SRhGL+jrFOZyahnN4un6aprwC6vzkgqSeJsE2I/L31LlxV77mHQ+Z3dUeAxQ="
    # encrypt with: travis encrypt --pro BINTRAY_USER=...
    - secure: "frBndKIgtpuOEzUEvDJfAsERTPhT4WGOpPvWOTORwvpvMt6OZNGy5PimHYTSR0pLRb4pLHBNAaV5S2XKyUTQcX8tWG3AAfB6xrGq0ZAQ+Lf1fgumqS6cAzEWS6pM3aBP7mScukjwdH3bBLMfosjet32KbrEY/zpGJTgieFAEVKMfwInF6F0atYvqyIZOqYzcI3IVjQZwmMHkeR0qenlh9pVUlCtiRMbwdc7RWeqbDNOtvWPH/KP3nwSz1KpWZ98NbP97eaO+Odch44CPaNW7FljxSuO+nE14f5p5eV1kZyLIwuPCx3rs0M+HZViP3jzPQ+bYv5wJqRF56nk5rbNjfqnObk9OagFxAZKnkdU7IlsjZTu/ldBa8NW2+WCQkYvs6vRY669uTHQdBDUOH09gRPK6SGOHwlBtrBbPOWO6x7vX0TZWCCxSBGZzJefFEa9mDJi6GPiiQWPxXfpYOrG5vamIgULQkntB7B4PKPyUuHMXJ25txmg9N8DSWdQ/+nNAqthaOJoHqjjE4wdJSJKyLwgGYVW9ejtUwOhjoL/cVIbdqRfwvVGRd7uTTqDNiaev7mK8jNYB4brpg/TDgDYmvRJn6w8HV+MkVSDy5zGlVhFNX5V9lA3H0E+POJsav2cKPtjd4RlpIHIcDPwcbzs5VqMv0r0Z2MhaUlRN8DQjXm4="
    # encrypt with: travis encrypt --pro BINTRAY_PASS=...
    - secure: "pGBhwxSz5yd6tlCbiwME5pZroYp4WpdLytk3IzO59VVS20KkMOApD1dc3bFKASWLgTpGbJTP/AYULlhSMA64JXAV90vTo87sOcl01EUOZHK9vvi0dURmC0zerRQd30o/5YmC6Y13iKUU3Y4/Fdvg7d3mit/VOanaOBzByIOugOOqFv3QvPn3YKxptPxzkkPeGKhcacTIw6AOLd2gcPEG6b4VQvpAk/UnFq6KmxUqw8KAPTX9AG35VfNnicYeB1Td+1k2OTGNShclv4E6qGKe32pPwRzUg13+sAsGkfxQvzr1PNGu6pYV+D270vfg7pQbdKLQg+WHjogr4PZYmQFpLFijwR565Fp6E6gFZXULl84LETvXfgismSY2zLlQl68y1i6ChZsnu8pvbAAeHP8NHcTcNFapgUwvz9L3M7t2OfvtQ5tt27SOuTTRV/69z47sLwRAq0peZ/swP+6bZ3/zxSX9Vj+iLRoQHhZEkLzZEw0biMBucon/l3C1AGSALyIts9BSeatwQK/T1hYbj4RlTbC939+2G8Dz7IFe0+VQIuJfaeeQwwWgzWhGBZKSUj302IkumGYEhWePaXWFPlcmT5VZrYHvyTWuiB47hppw2p3hWKArrnbJMTQdGY+jV5fepSr1a0ZxE/9o++W1dtj9kPKoNF2BgibOuhM7CJmXMKo="
    # encrypt with: travis encrypt --pro RSYNC_PASSPHRASE=...
    - secure: "ARTfN+ix48ySZfCAUgjSXvjRU81RWw1w1Vjajvd744M/729KLT1H15q9i7V3LMnHPrvIMtjwfQaVWkHvaLZLUyQHMgxR1fosvNaplLJwXHUhzGRC5v08BaNnf1SaBUIfWzVN2bpPecbRQ5myG4IjT8AAEePkeKZHYr+Gl9DyTZxAnchor0jdwxCEgC4StfE2vfhPnszVWRBDI3VbsR3xmkJIaqb+fIXvuRCaa3K0TFoANew1kmlTqA+Gv+i8zJhIK5qmQUHH23GajfI7chbPuLa9mMEjrXAG7QoKOHiYkSHbUHU7XhQ0y1u5CqpCPkcGDIXd4qsCPbln5H1CBrppNBR1mqQE/zpcNZBcXnSDcvLdwH9ZLkQPTt31CYXpEEgekw9WRIfT4vG1FhX8bWQcbB/DeOJqAsZzS7PpiYUeFWassrNPTeOHMJWkNolNTCYRQCfzqklGa2IH6Hdfgf0OWxP0zEk54qb9NsgIi9FaHMr9h+h2siThwcd+bI04V81F7kSrtGzVKHWgWZ2D8ZqJAqB3uGwhxnddH060vHmjeRy0T+hyOoedX7IfoGvbKnlg9LNNJAoioTqx7z71wNDmiqehT3w811wUmg5nMZtogpiJuX7atXoYBsnnK8jmgU7jnlQGOKAb4oG/jHXoP5nwZliuvT9cqZEb65OqY2xgxGI="
