language: scala
sudo: true
services:
  - docker

before_install:
  # make comparing to origin/master work and fetch full history for correct current and previous version detection
  - git remote set-branches --add origin master && git fetch --unshallow
  # using jabba for custom jdk management
  - curl -sL https://raw.githubusercontent.com/shyiko/jabba/0.11.2/install.sh | bash && . ~/.jabba/jabba.sh

# default script for jobs, that do not have any specified
script:
  - jabba install ${JDK:=adopt@~1.8-0}
  - jabba use ${JDK:=adopt@~1.8-0}
  - java -version
  - ${PRE_CMD:=return 0} # do nothing if not set
  - sbt -jvm-opts .jvmopts-travis "$CMD"

jobs:
  include:
    - stage: check
      script: sbt Test/headerCheck || { echo "[error] Missing license headers found. Please run 'Test/headerCreate' and commit the updated code."; false; }
      name: "Copyright header check"
    - stage: check
      script:
        SCALAFMT_VERSION=2.3.2
        INSTALL_LOCATION=$HOME/.scalafmt/scalafmt-native
        curl https://raw.githubusercontent.com/scalameta/scalafmt/master/bin/install-scalafmt-native.sh | sh -s -- $SCALAFMT_VERSION $INSTALL_LOCATION
        .scalafmt/scalafmt-native --test
      name: "Code style check (fixed with `sbt scalafmtAll;scalafmtSbt`)"
    - env: CMD="+Test/compile"
      name: "Compile all code with Scala 2.12 and 2.13"
    - env: CMD="mimaReportBinaryIssues"
      name: "Check binary compatibility. Run locally with: sbt mimaReportBinaryIssues"

    - stage: test
      env:
        - PRE_CMD="./scripts/launch-all.sh"
        - CMD="++2.12.10 test"
      name: "Run tests with Scala 2.12 and AdoptOpenJDK 8"
    - env:
        - PRE_CMD="./scripts/launch-all.sh"
        - CMD="++2.13.1 test"
      name: "Run tests with Scala 2.13 and AdoptOpenJDK 8"
    - env:
        - JDK="adopt@~1.11-0"
        - _JAVA_OPTIONS="-XX:+UnlockExperimentalVMOptions -XX:+UseJVMCICompiler"
        - PRE_CMD="./scripts/launch-all.sh"
        - CMD="++2.12.10 test"
      name: "Run tests with Scala 2.12 and AdoptOpenJDK 11"
    - env:
        - JDK="adopt@~1.11-0"
        - _JAVA_OPTIONS="-XX:+UnlockExperimentalVMOptions -XX:+UseJVMCICompiler"
        - PRE_CMD="./scripts/launch-all.sh"
        - CMD="++2.13.1 test"
      name: "Run tests with Scala 2.13 and AdoptOpenJDK 11"

    - stage: whitesource
      script: git branch -f "$TRAVIS_BRANCH" && git checkout "$TRAVIS_BRANCH" && sbt whitesourceCheckPolicies whitesourceUpdate
      name: "Check licenses via WhiteSource"

stages:
  # runs on master commits and PRs
  - name: check
    if: NOT tag =~ ^v

  # runs on master commits and PRs
  - name: test
    if: NOT tag =~ ^v

  # runs on main repo master commits and version-tagged commits
  - name: whitesource
    if: repo = akka/akka-persistence-jdbc AND ( ( branch = master AND type = push ) OR tag =~ ^v )

  # runs on main repo master commits and version-tagged commits
#  - name: publish
#    if: repo = akka/akka-persistence-jdbc AND tag =~ ^v

before_cache:
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
  - find $HOME/.sbt -name "*.lock" -delete

cache:
  directories:
   - $HOME/.m2
   - $HOME/.ivy2/cache
   - $HOME/.sbt/boot
   - $HOME/.sbt/launchers
   - $HOME/.cache/coursier
   - $HOME/.jabba/jdk
   - $HOME/.scalafmt

env:
  global:
    # API Key from https://saas.whitesourcesoftware.com/Wss/WSS.html#!adminOrganization_integration
    # encrypt with: travis encrypt WHITESOURCE_PASSWORD=...
    - secure: "bhlP+VQWUARVUzE/JFwajZbdVDm3mfKIJ4M3D7ONF/MjW3lE69DhL7SyLnot5Zb91N87bDl6gVymePUU5Fpe8dEHsqALn+Z0y1dI3iAImUD2K+cnMeo75cFiQyFblvkGBFapXuR6NJll4S48Q/xiwsiJfVcol6SBeOLqxDsMKdw="
