name: Integration Tests

on:
  pull_request:
  push:
    branches:
      - main
    tags-ignore: [ v.* ]

permissions:
  contents: read

jobs:
  integration-test:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        db:
        - name: "H2"
          test: "test"
        - name: "MySQL"
          test: '"integration/testOnly akka.persistence.jdbc.integration.MySQL*"'
          script: 'launch-mysql.sh'
          hasOldDao: true
        - name: "Oracle"
          test: 'integration/testOnly akka.persistence.jdbc.integration.Oracle*'
          script: 'launch-oracle.sh'
          hasOldDao: true
        - name: "Postgres"
          test: 'integration/testOnly akka.persistence.jdbc.integration.Postgres*'
          script: 'launch-postgres.sh'
          hasOldDao: true
        - name: "SqlServer"
          test: 'integration/testOnly akka.persistence.jdbc.integration.SqlServer*'
          script: 'launch-sqlserver.sh'
          hasOldDao: true
    name: Integration Test ${{ matrix.db.name }}
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 0

      - name: Checkout GitHub merge
        if: github.event.pull_request
        run: |-
          git fetch origin pull/${{ github.event.pull_request.number }}/merge:scratch
          git checkout scratch

      - name: Cache Coursier cache
        uses: coursier/cache-action@v6.4.0

      - name: Set up JDK 11
        uses: coursier/setup-action@v1.3.0
        with:
          jvm: temurin:1.11.0

      - name: Start DB in docker container
        if: ${{ matrix.db.script }}
        run: |-
          ./scripts/${{ matrix.db.script }}

      - name: Run Integration tests for  ${{ matrix.db.name }}
        run: sbt ${{ matrix.db.test }} ${{ matrix.old-dao.extraOpts }}

      - name: Run Integration tests for  ${{ matrix.db.name }} (old dao)
        if: ${{ matrix.db.hasOldDao }}
        run: sbt ${{ matrix.db.test }} ${{ matrix.old-dao.extraOpts }} -Djdbc-journal.dao=akka.persistence.jdbc.journal.dao.legacy.ByteArrayJournalDao -Djdbc-snapshot-store.dao=akka.persistence.jdbc.snapshot.dao.legacy.ByteArraySnapshotDao -Djdbc-read-journal.dao=akka.persistence.jdbc.query.dao.legacy.ByteArrayReadJournalDao


      - name: Print logs on failure
        if: ${{ failure() }}
        run: find . -name "*.log" -exec ./scripts/cat-log.sh {} \;
