name: Weekly Integration Tests

on:
  schedule:
    - cron: "0 0 * * 1"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  integration-test:
    name: Weekly Integration Test ${{ matrix.db.name }}
    runs-on: Akka-Default
    strategy:
      fail-fast: false
      matrix:
        db:
          - name: "H2"
            test: "test"
          - name: "MySQL"
            test: '"integration/testOnly akka.persistence.jdbc.integration.MySQL*"'
            script: 'launch-mysql.sh'
          - name: "Oracle"
            test: '"integration/testOnly akka.persistence.jdbc.integration.Oracle*"'
            script: 'launch-oracle.sh'
          - name: "Postgres"
            test: '"integration/testOnly akka.persistence.jdbc.integration.Postgres*"'
            script: 'launch-postgres.sh'
          - name: "SqlServer"
            test: '"integration/testOnly akka.persistence.jdbc.integration.SqlServer*"'
            script: 'launch-sqlserver.sh'

    steps:
      - name: Checkout
        # https://github.com/actions/checkout/releases
        # v4.1.1
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
        with:
          fetch-depth: 0

      - name: Checkout GitHub merge
        if: github.event.pull_request
        run: |-
          git fetch origin pull/${{ github.event.pull_request.number }}/merge:scratch
          git checkout scratch

      - name: Cache Coursier cache
        # https://github.com/coursier/cache-action/releases
        # v6.4.5
        uses: coursier/cache-action@1ff273bff02a8787bc9f1877d347948af647956d

      - name: Set up JDK 21
        # https://github.com/coursier/setup-action/releases
        # v1.3.5
        uses: coursier/setup-action@7bde40eee928896f074dbb76d22dd772eed5c65f
        with:
          jvm: temurin:1.21

      - name: Start DB in docker container
        if: ${{ matrix.db.script }}
        run: |-
          ./scripts/${{ matrix.db.script }}

      - name: Run Integration tests for  ${{ matrix.db.name }}
        run: sbt ${{ matrix.db.test }}

      - name: Print logs on failure
        if: ${{ failure() }}
        run: find . -name "*.log" -exec ./scripts/cat-log.sh {} \;
