name: Integration Tests

on:
  schedule:
    - cron: "0 0 * * 1"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  integration-test:
    name: Weekly Tests
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        db:
          - name: "H2"
            test: "test"
          - name: "MySQL"
            test: 'integration/testOnly akka.persistence.jdbc.integration.MySQL*'
            script: 'launch-mysql.sh'
          - name: "Oracle"
            test: 'integration/testOnly akka.persistence.jdbc.integration.Oracle*'
            script: 'launch-oracle.sh'
          - name: "Postgres"
            test: 'integration/testOnly akka.persistence.jdbc.integration.Postgres*'
            script: 'launch-postgres.sh'
          - name: "SqlServer"
            test: 'integration/testOnly akka.persistence.jdbc.integration.SqlServer*'
            script: 'launch-sqlserver.sh'

    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 0

      - name: Checkout GitHub merge
        if: github.event.pull_request
        run: |-
          git fetch origin pull/${{ github.event.pull_request.number }}/merge:scratch
          git checkout scratch

      - name: Cache Coursier cache
        uses: coursier/cache-action@v6.4.0

      - name: Set up JDK 21
        uses: coursier/setup-action@v1.3.0
        with:
          jvm: temurin:1.21

      - name: Start DB in docker container
        if: ${{ matrix.db.script }}
        run: |-
          ./scripts/${{ matrix.db.script }}

      - name: Run Integration tests for  ${{ matrix.db.name }}
        run: sbt \"$${ matrix.db.test }}\"

      - name: Print logs on failure
        if: ${{ failure() }}
        run: find . -name "*.log" -exec ./scripts/cat-log.sh {} \;
